/************************************     Global Layout Overrides*/

h1{
  background-color: #e2e2e2;
  padding:5px;
}

body{
  font-family: "Arial"
}

ul{
  list-style: none;
    padding: 0;
}



/************************************    Section ID Styles */
#aboutMe{
    padding-top: 10px;
}

#resumeContainer{
    margin: 10px 30%;
}

/************************************    Section Class Styles */


.section-title{
  text-transform: capitalize;
}